@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.titleSpan{
  display: flex;
  justify-content: flex-end;
}

.titletext{
  min-height: 4vw;
  min-width: 40vw;
  height: 4rem;
  width: 40rem;
  padding: 4rem;
}

@media (max-width:768px) {
  .titleSpan{
    display: block;
  }

  .titletext{
    height: 9vw;
    width: 90vw;
    padding: 5vw;
  }

  .App {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .playlist{
    max-height: 110vw;
    max-width: 85vw;
    margin: 4vh;
  }
}

.App {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playlist{
  min-height: 20vw;
  min-width: 13vw;
  width: 15rem;
  height: 22rem;
  margin: 2vw;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
