@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import '~antd/dist/antd.css'; 

/* home page  */
.App {
  background-color: transparent !important;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titleSpan{
  display: flex;
  justify-content: flex-end;
}

.titleSpan img{
  min-height: 4vw;
  min-width: 40vw;
  height: 4rem;
  width: 40rem;
  margin: 4rem;
}

.ant-switch-inner{
  color: #3d2a1b;
}

.radioSwitch .ant-switch-inner{
  color: #0d2030;
}

.radioSwitch {
  background-color: 	#c18a5e;
  width: fit-content;
  margin-left: 2vw;
  margin-bottom: -1vw;
}

.radioSwitch.ant-switch-checked{
  background-color: 	#3d7db4;
}

.playlist{
  min-height: 20vw;
  min-width: 13vw;
  width: 15rem;
  height: 22rem;
  margin: 2vw;
  border-radius: 10px;
}

@media (max-width:768px) {
  .titleSpan{
    display: block;
  }

  .titleSpan img{
    height: 9vw;
    width: 90vw;
    margin: 5vw;
  }

  .App {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .playlist{
    max-height: 110vw;
    max-width: 85vw;
    margin: 4vh;
  }

  .radioSwitch {
    margin-left: 4vh;
    margin-bottom: -2vh;
  }
}


/* switch board  */